<% layout('layouts/boilerplate')%>
    <div class="row">
        <h1 class="text-center">New Campsite</h1>
        <div class="col-md-6 offset-md-3">
            <form action="/campsites" method="POST" novalidate class="validate-form" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" class="form-control" id="title" name="campground[title]" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input type="text" class="form-control" name="campground[location]" id="location" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <!--<div class="mb-3">
                    <label for="image" class="form-label">Add Image</label>
                    <input type="file" class="form-control" name="images" id="image" multiple>
                </div> -->
                <div class="mb-3">
                    <label for="price" class="form-label">Campsite price</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="price-label">&#8377;</span>
                        <input type="text" class="form-control" placeholder="0" aria-label="price"
                            aria-describedby="price-label" name="campground[price]" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea class="form-control" id="description" rows="3" name="campground[description]" required></textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <div class="input-group mb-3">
                        <input type="file" class="form-control" id="image" name="images" multiple>
                        <label class="input-group-text" for="image">Upload</label>
                    </div>
                    <!--<div class="form-file custom-file">
                        <input type="file" class="form-file-input" id="image" name="images" multiple>
                        <label class="form-file-label" for="image">
                            <span class="form-file-text custom-file-label">Choose image(s)...</span>
                            <span class="form-file-button">Browse</span>
                        </label>
                    </div>-->
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-success">Add Camp</button>
                </div>
            </form>
        </div>
    </div>
    
   